<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620245110276-m6rn45n17hluvnm1a812hhrev6bhmdgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620245110276-m6rn45n17hluvnm1a812hhrev6bhmdgc</string>
	<key>API_KEY</key>
	<string>AIzaSyDJYfHSj-BUrDwnskFEI8eM39MJKODU6ec</string>
	<key>GCM_SENDER_ID</key>
	<string>620245110276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appartement</string>
	<key>PROJECT_ID</key>
	<string>appartement-df9a3</string>
	<key>STORAGE_BUCKET</key>
	<string>appartement-df9a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620245110276:ios:89223b524419749f2f2f51</string>
</dict>
</plist>